.navtop ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    /* background-color:#1f1d36 ; */
    padding-top: 1em 0;
}
.navtop ul li{
    list-style-type: none;

}
.icontext{
    display: flex;
    align-items: center;
    gap: .9em;
}
.iconall{
}

.selection{
    margin-left: 21%;
}
