@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Nanum+Gothic:wght@400;800&family=Noto+Serif:wght@400;700&family=Prosto+One&family=Rampart+One&family=Rubik+Beastly&family=Smooch&display=swap'); 
  
  
  .inputcontainer{
    border: solid black 1px;
    width: 300px;
    display: flex;
    align-items: center;
    font-family:Nanum Gothic ;

    padding: .6em 0;
}
.input1{
    padding: .8em 0;
    border: none;
    outline: none;
}
.label1{
    margin: 1em 0;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left:45%; */
    
    border: solid black 2px;
    box-shadow: 3px 4px 5px 6px lightgray;
    width: 448px;
    padding: 2em 0;
    border: none;
    background-color:#fff;
}
.heading{
    font-family: Nanum Gothic;
}
.para{
    font-family: Nanum Gothic;  
}
.text{
    font-family:Nanum Gothic ;
}
.signup{
    padding: 1em 4em;
    background-color: #1f1d36;
    color: white;
    font-size: 1rem;
}
.signupcontainer{
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;

}
.inputcontainer input{
    padding: 0 1em;
}
.textcolor{
    
    font-family:Nanum Gothic ;
    padding: 1em;
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("../../public/images/back.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
width: 50vw;
height: 100vh;
height: 678px;
display: flex;
justify-content: center;
align-items: center;
}

.flexregister{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.texting{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Nanum Gothic;
    margin: 0 auto;
    font-size: 2rem;
}
.iconregister{
    margin-left: .6em;
}
.align{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.span{
    color: green;
    margin-left: 1em;
}