.inputlogincontainer{
    border: solid black 1px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: .6em 0;
}

.input2{
    padding: .8em 0;
    border: none;
    outline: none;
    font-family:Nanum Gothic ;
}
.forgot1{
    font-family:Nanum Gothic ; 
    font-size: 2rem; 
}
.label1{
    margin: 1em 0;
    font-family:Nanum Gothic ;
}
.forgot{
    display: flex;
    font-size: 1rem;
}
.btn1{
    padding: 1em 4em;
    background-color: #1f1d36;
    color: white;
    cursor: pointer;

}
.loginpart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    /* height: 100vh; */
    border: solid black 2px;
    box-shadow: 3px 2px 2px 4px lightgray;
    width: 450px;
    /* padding: 2em 0; */
    border: none;
}
.containerpart{
    /* height: 100vh; */
    margin: 0 auto;
    display: flex;
}
.loginbackground{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("../../public/images/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    height: 678px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    margin-top: 6em;
    margin-left: 20%;
    
    
    
}
.messagepart{
    padding: 1em 1em;
}
