.textbox{
     width: 100%; 
   
}




.textarea{
     width: 900px;
    resize: none;
    overflow: hidden;
    margin: 2em 0;
     padding: 1.5em; 
     background-color: #fff;
     color: #000;
     border: none;
     
}

