.textbox{
     width: 100%; 
   
}



.textarea{
     width: 900px;
      overflow: hidden;
    resize: none;
    margin: 2em 0;
     padding: 1.5em; 
     background-color: #0d3050;
     color: #fff;
     border: none;

}