.textbox{
    width: 100%;
   
}
.textareaElement {
    width: 900px;
    
    border: 1px solid #ccc;
    color: #000;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
  }
/* textarea{
    resize: none;
} */


.textarea{
    width: 900px;
    resize: none;
    padding: 2em 0;
}